<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-items-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Items
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-items-link">
                <a href="{% url 'items' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'items' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'items' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'items' %}" class="dropdown-item">All Items</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="amigurumi-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Amigurumi
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="amigurumi-link">
                <a href="{% url 'items' %}?category=amigurumi" class="dropdown-item">Amigurumi</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="otheritems-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Other Items
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="otheritems-link">
                <a href="{% url 'items' %}?category=jumpers" class="dropdown-item">Jumpers</a>
                <a href="{% url 'items' %}?category=hats" class="dropdown-item">Hats</a>
                <a href="{% url 'items' %}?category=otheritems" class="dropdown-item">Other Items</a>
                <a href="{% url 'items' %}?category=jumpers,hats,otheritems" class="dropdown-item">All Items</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'items' %}?category=newarrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'items' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'items' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'items' %}?category=newarrivals,deals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>